:root {
    --board-size: 500px;
    --eval-bar-border : 3px ridge gray;
}
* {
    font-family: "Poppins", serif;
}
body {
    height: 100vh;
    width: 100vw;
    padding : 10px;
    overflow: clip;
    
}
#title {
    margin-top: 5px;
    margin-bottom:5px;
}
main {
    display: flex;
}
#board {
    width: var(--board-size);
}
#evalBar {
    display :flex;
    flex-direction: column;
    justify-content: end;

    width: 20px;
    height: 494px;
    background-color: black;

    border-radius: 0 5px 5px 0;
    border-top : var(--eval-bar-border);
    border-right : var(--eval-bar-border);
    border-bottom: var(--eval-bar-border); 
}
#whiteEval{
    background-color: white;
    height:50%;
    transition: 1s cubic-bezier(0.6, 0, 0.4, 1);
}
#eval {
    margin : 0;
    font-size: 14px;
    color:black;
    text-align: center;
}
#caption {
    margin-top: 5px;
    width: var(--board-size);
    display: flex;
    justify-content: space-between;
}

#openingName {
    width: fit-content;
    white-space: nowrap;
    flex-shrink: 0; 
}

#pgn {
    width: 100%;
    height: max-content;
    white-space: nowrap;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    text-align: right; 
    margin-left: 10px;
}

.square-legal::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square-legal-take::after {
    content: '✕'; /* Utilisation du symbole X */
    font-size: 40px; /* Taille du X */
    font-weight: bold; /* Épaisseur du X */
    color: yellow; /* Couleur du X */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}




